/* Ajoutez ce code à votre feuille de style CSS */
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: #000;
}

#backToTopBtn:hover {
    background-color: #0056b3;
}

